In [2]:
import pandas as pd
sales = pd.read_csv('sales.csv')
sales

,Invoice ID,Date,Time,Gender,Location,City,Member,Category,Price,Quantity,Total,Payment,Rating
0,460489604,1/25/2018,16:46,Male,Brookfield,NewYork,Yes,Groceries,30,1,30,Cash,2
1,471006167,3/19/2018,16:48,Female,Water tower,Chicago,Yes,Fashion,35,5,175,Card,3
2,411909258,2/25/2018,13:33,Male,Water tower,Chicago,No,Clothing,57,2,114,Cash,5
3,487313402,1/22/2018,13:38,Female,Park lane,Dallas,Yes,Sporting,89,4,356,Gpay,1
4,197763430,2/18/2018,15:31,Female,Park lane,Dallas,No,Books,82,5,410,Cash,4
5,263634050,3/9/2018,17:55,Male,Brookfield,NewYork,Yes,Clothing,52,4,208,Gpay,3
6,99646662,3/4/2018,13:21,Male,Water tower,Chicago,No,Clothing,81,3,243,Cash,4
7,188869875,3/8/2018,13:24,Male,Park lane,Dallas,No,Books,80,2,160,Cash,3
8,325637547,1/18/2018,15:33,Male,Park lane,Dallas,Yes,Clothing,91,3,273,Card,3
9,562942936,2/24/2018,16:05,Female,Park lane,Dallas,No,Books,80,2,160,Cash,4
10,388412668,2/26/2018,11:32,Female,Brookfield,NewYork,No,Furniture,35,4,140,Gpay,4
11,846531724,3/15/2018,12:12,Male,Park lane,Dallas,No,Sporting,22,5,110,Card,4
12,149894432,1/12/2018,11:12,Male,Park lane,Dallas,No,Clothing,77,5,385,Cash,4
13,942406749,1/18/2018,15:20,Female,Water tower,Chicago,Yes,Clothing,9,6,54,Gpay,5
14,547572603,3/21/2018,13:23,Female,Brookfield,NewYork,No,Fashion,98,7,686,Gpay,3
15,355981315,2/15/2018,15:47,Female,Brookfield,NewYork,Yes,Clothing,78,5,390,Card,5
16,397754805,2/9/2018,15:59,Female,Brookfield,NewYork,Yes,Sporting,35,7,245,Gpay,1
17,90524319,3/19/2018,18:18,Male,Park lane,Dallas,Yes,Clothing,23,1,23,Cash,3
18,542144906,2/6/2018,10:58,Female,Brookfield,NewYork,Yes,Fashion,33,5,165,Gpay,2
19,729486362,3/7/2018,12:50,Male,Water tower,Chicago,No,Groceries,39,4,156,Cash,3
20,619639105,3/26/2018,19:48,Female,Brookfield,NewYork,No,Groceries,44,6,264,Cash,1
21,443198801,2/24/2018,19:31,Female,Brookfield,NewYork,No,Clothing,48,5,240,Card,5
22,761515143,1/15/2018,16:08,Female,Park lane,Dallas,No,Groceries,23,1,23,Gpay,3
23,56578535,3/23/2018,10:11,Male,Water tower,Chicago,Yes,Groceries,24,1,24,Gpay,2
24,834838148,2/15/2018,13:00,Male,Brookfield,NewYork,Yes,Groceries,12,4,48,Card,1
25,833288071,1/25/2018,15:02,Male,Water tower,Chicago,No,Sporting,16,5,80,Gpay,2
26,508614950,1/24/2018,16:47,Female,Park lane,Dallas,No,Sporting,38,2,76,Cash,4
27,103072863,3/12/2018,11:57,Male,Water tower,Chicago,No,Groceries,41,6,246,Card,5
28,355815500,1/20/2018,15:09,Female,Park lane,Dallas,Yes,Furniture,16,6,96,Card,2
29,193855414,3/4/2018,12:04,Female,Brookfield,NewYork,Yes,Clothing,51,4,204,Card,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,284977676,1/28/2018,16:19,Male,Park lane,Dallas,No,Groceries,89,2,178,Cash,1
971,839513398,3/9/2018,19:08,Female,Brookfield,NewYork,Yes,Clothing,67,5,335,Gpay,2
972,322006600,1/8/2018,10:01,Female,Park lane,Dallas,No,Clothing,37,5,185,Card,5
973,81079897,3/28/2018,12:12,Female,Park lane,Dallas,Yes,Fashion,64,7,448,Gpay,1
974,340617715,1/19/2018,19:57,Male,Brookfield,NewYork,No,Sporting,2,1,2,Card,1
975,464762614,3/3/2018,10:38,Male,Water tower,Chicago,No,Fashion,61,1,61,Cash,2
976,497734676,2/9/2018,14:14,Male,Park lane,Dallas,No,Sporting,5,4,20,Cash,3
977,614557665,3/22/2018,17:16,Female,Park lane,Dallas,No,Clothing,49,3,147,Cash,5
978,158012185,3/9/2018,11:46,Male,Brookfield,NewYork,No,Books,1,3,3,Gpay,2
979,719253789,3/15/2018,18:37,Female,Brookfield,NewYork,No,Clothing,92,7,644,Gpay,4
980,34442223,1/10/2018,17:24,Male,Brookfield,NewYork,No,Clothing,88,3,264,Gpay,1
981,418253101,3/14/2018,12:25,Female,Brookfield,NewYork,No,Fashion,81,2,162,Gpay,5
982,741817151,2/10/2018,14:43,Female,Brookfield,NewYork,No,Furniture,83,3,249,Gpay,1
983,169440268,2/17/2018,14:42,Female,Brookfield,NewYork,No,Groceries,4,7,28,Gpay,5
984,979059991,3/26/2018,13:48,Female,Brookfield,NewYork,Yes,Books,84,3,252,Gpay,3
985,266635768,1/29/2018,14:30,Male,Water tower,Chicago,Yes,Groceries,39,6,234,Cash,2
986,321374195,3/17/2018,14:16,Female,Water tower,Chicago,No,Clothing,30,2,60,Cash,4
987,245049016,1/20/2018,10:03,Female,Park lane,Dallas,No,Furniture,74,4,296,Card,4
988,737210,1/20/2018,20:47,Female,Water tower,Chicago,Yes,Furniture,88,1,88,Cash,5
989,941364541,3/13/2018,14:53,Female,Brookfield,NewYork,No,Sporting,19,7,133,Cash,1
990,752407865,1/15/2018,10:01,Male,Water tower,Chicago,Yes,Clothing,25,4,100,Cash,5
991,699906043,2/15/2018,12:58,Male,Brookfield,NewYork,Yes,Furniture,96,7,672,Card,3
992,927909627,3/2/2018,13:35,Male,Brookfield,NewYork,No,Books,54,1,54,Card,1
993,455112063,3/19/2018,17:30,Female,Brookfield,NewYork,Yes,Clothing,3,3,9,Cash,2
994,446582560,1/31/2018,19:00,Male,Water tower,Chicago,No,Fashion,29,5,145,Cash,4
995,818829599,3/26/2018,11:19,Male,Park lane,Dallas,No,Groceries,31,4,124,Card,3
996,556589713,2/20/2018,17:17,Male,Water tower,Chicago,Yes,Groceries,3,5,15,Gpay,3
997,82324424,2/6/2018,11:44,Male,Brookfield,NewYork,No,Clothing,71,5,355,Card,3
998,783661702,1/29/2018,15:44,Female,Brookfield,NewYork,No,Clothing,89,7,623,Cash,5
999,759171975,1/31/2018,10:13,Female,Water tower,Chicago,Yes,Clothing,31,7,217,Gpay,3

In [3]:
location_list = sales.groupby('Location')
location = [x for x,y in location_list]
location

['Brookfield', 'Park lane', 'Water tower']

In [4]:
sales.groupby('Location').sum()['Total']

Location
Brookfield     72141
Park lane      70432
Water tower    65215
Name: Total, dtype: int64

In [5]:
import matplotlib.pyplot as plt
plt.bar(location, sales.groupby('Location').sum()['Total'])
plt.show()

TypeError: unsupported operand type(s) for -: 'str' and 'float'